@charset "utf-8";
.container-fluid {
    background-color: hsla(30,1%,34%,1.00);
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(2,3,3,1.00) 0%,rgba(92,92,92,1.00) 27.68%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(2,3,3,1.00) 0%,rgba(92,92,92,1.00) 27.68%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(2,3,3,1.00) 0%,rgba(92,92,92,1.00) 27.68%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0%,rgba(2,3,3,1.00) 0%,rgba(92,92,92,1.00) 27.68%);
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(5,5,5,1.00) 0.30%,rgba(60,60,60,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(5,5,5,1.00) 0.30%,rgba(60,60,60,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(5,5,5,1.00) 0.30%,rgba(60,60,60,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(5,5,5,1.00) 0.30%,rgba(60,60,60,1.00) 100%);
}
.navbar-nav.mr-auto .nav-item.active .nav-link {
    color: hsla(36,74%,61%,1.00);
}
.pricing-area{
	padding: 80px 0;
}
.single-price{
	padding-bottom: 25px;
	background: #fff;
	text-align: center;
	overflow: hidden;
	position: relative;
	transition: all .3s ease-in-out;
	box-shadow: 0 5px 20px rgba(0,0,0,0.7);
}
.single-price a{
	background: rgb(94, 173, 161);
	color: #fff;
	padding: 15px 30px;
	text-decoration: none;
	border-radius: 25px;
	display: inline-block;
}
.single-price:hover{
	transform: scale(1.05);
}
.single-price:before{
	content: '';
	width: 100%;
	height: 350px;
	background: rgb(94, 173, 161);
	position: absolute;
	top: -150px;
	left: 0;
	transform: skewY(-20deg);
}
.single-price .price-header{
	padding: 20px 20px 60px;
	position: relative;
	text-align: left;
}
.single-price .title{
	font-size: 30px;
	font-weight: 600;
	color: fff;
	text-transform: uppercase;
	margin: 0;
}
.single-price .price-value{
	display: inline-block;
	width: 170px;
	height: 110px;
	padding: 15px;
	border-top: none;
	position: relative;
}
.single-price .value{
	width: 100%;
	height: 100%;
	background: #fff;
	border: 5px solid #262626;
	border-top: none;
	border-bottom: none;
	z-index: 1;
	position: relative;
}
.single-price .value:before,
.single-price .value:after{
	content: '';
	width: 97px;
	height: 97px;
	background: #fff;
	border: 5px solid #262626;
	border-bottom: none;
	border-right: none;
	position: absolute;
	top: -48px;
	left: 50%;
	z-index: -1;
	transform: translateX(-50%) scaleY(0.5) rotate(45deg);
}
.single-price .value:after{
	border-right: 5px solid #262626;
	border-bottom: 5px solid #262626;
	border-top: none;
	border-left: none;
	top: auto;
	bottom: -48px;
}
.single-price .currency{
	display: inline-block;
	font-size: 30px;
	margin-top: 7px;
	vertical-align: top;
}
.single-price .amount{
	display: inline-block;
	font-size: 40px;
	font-weight: 600;
	line-height: 65px;
}
.single-price .amount span{
	display: inline-block;
	font-size: 30px;
	font-weight: normal;
	verticle-align: top;
	margin-top: 7px;
}
.single-price .month{
	display: block;
	font-size: 16px;
	line-height: 0;
}
.single-price .deals{
	padding: 70px 0 0;
	margin-bottom: 20px;
	list-style: none;
	text-align: center;
	transition: all 0.3s ease 0s;
}
.single-price .deals li{
	padding: 7px 0;
	font-size: 16px;
	color: #808080;
	position: relative;
}
.row .col-md-6.col-12.text-center .img-fluid {
    -webkit-box-shadow: 5px 5px 3px 2px;
    box-shadow: 5px 5px 3px 2px;
}
.row.mt-2 .col-md-3.col-6 .img-fluid.float-right {
}
.col-xl-5 .text-center .img-fluid {
    -webkit-box-shadow: 5px 5px 3px 3px;
    box-shadow: 5px 5px 3px 3px;
}



@media only screen and (max-width: 990px){
	.single-price{
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 767px){
	.single-price:before{
		transform: skewY(-15deg);
	}
	.single-price .title{
		font-size: 22px;
		
	}
}
.container-fluid .container footer {
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(100,100,100,1.00) 99.48%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(100,100,100,1.00) 99.48%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(100,100,100,1.00) 99.48%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0%,rgba(100,100,100,1.00) 99.48%);
}
.card.col-md-4.col-xl-12 .card-body .btn.btn-primary {
    background-color: hsla(37,75%,61%,1.00);
}

.row .col-xl-6 p {
    color: hsla(0,0%,96%,1.00);
}
.navbar-nav.mr-auto .nav-item .nav-link {
    color: #24B0A3;
}
.row.mt-2 .col-md-3.col-6 .img-fluid.float-right {
    -webkit-box-shadow: 5px 5px 3px 3px;
    box-shadow: 5px 5px 3px 3px;
}
.row.mt-2 .col-md-3.col-6 .img-fluid.float-left {
    -webkit-box-shadow: 5px 5px 3px 3px;
    box-shadow: 5px 5px 3px 3px;
}
.row .col-md-3.col-6 .img-fluid.float-right {
    -webkit-box-shadow: 5px 5px 3px 3px;
    box-shadow: 5px 5px 3px 3px;
}
.row .col-md-3.col-6 .img-fluid.float-right {
}
.row .col-md-3.col-6 .img-fluid.float-left {
    -webkit-box-shadow: 5px 5px 3px 3px;
    box-shadow: 5px 5px 3px 3px;
}
.container-fluid .container .text-center {
}
.row .col-12.text-center h2 {
}
.row .col-12.text-center p {

}
section .container .row {
    background-color: #A8A8A8;
}








.container {
  width:100%;
  margin:0 auto;
  position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background:#F9F9F9;
  padding:25px;
  margin:50px 0;
}

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:20%;
  border:none;
  background:#0CF;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:#09C;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}

.container p strong {
    color: #FFFFFF;
    text-align: center;
}
.container-fluid .container .text-center {
    color: #FFFFFF;
    text-align: center;
}

.container .row .col-xl-7 {
    color: #FFFFFF;
}

::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
/* styles.css */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.hero-container {
    position: relative;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8); /* Dark background with 80% opacity */
    color: #fff;
    padding: 10px 20px; /* Adjust the padding to your liking */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1; /* Ensure the header is above the hero content */
}

header h1 {
    font-size: 24px; /* Adjust the font size to your liking */
}

nav {
    flex-grow: 1; /* Allow the navigation to take up available space */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Center the navigation links */
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px; /* Adjust the font size to your liking */
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ddd;
}

#hero {
    height: 500px; /* Adjust the height as needed */
	position: relative;
    background: url('images/large/_DSC0334.jpg') center/cover no-repeat;
    text-align: center;
    color: #fff;
    z-index: 0; /* Ensure the hero content is below the header */
	margin-bottom: 20px; /* Add margin to create space between hero and gallery */
}
 /* Add custom styles for text overlay */
        .hero-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff; /* Text color */
            text-align: center;
        }
/* Add additional styling for your hero content as needed */

/* styles.css */

section#product-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    overflow-x: auto; /* Add horizontal scrolling for small screens */
    white-space: nowrap; /* Prevent items from wrapping to a new line */
}

.product {
    text-align: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    min-width: 250px; /* Adjust the minimum width of each product box */
}

.product img {
    max-width: 100%;
}

.product h3 {
    margin: 10px 0;
}

.product p {
    color: #777;
}

.product-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.product-link:hover {
    background-color: #555;
}

/* Media Query for Smartphone Screens */
@media screen and (max-width: 768px) {
    section#product-grid {
        flex-wrap: wrap;
        overflow-x: hidden; /* Disable horizontal scrolling on smaller screens */
    }

    .product {
        min-width: 45%; /* Adjust the width to make them stack for smaller screens */
    }
}

footer {
    background-color: #333;
    color: #333;
    text-align: center;
    padding: 10px 0;
}



.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #555;
}


/* Style the gallery container */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 800px;
    margin: 0 auto;
}

/* Style the gallery images */
.gallery img {
    max-width: 100%;
    height: auto;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

/* Add a hover effect to the images */
.gallery img:hover {
    transform: scale(1.05);
}

/* Style the download links */
.gallery a {
    text-decoration: none;
    color: #333;
}


.hidden {
    display: none;
}


/* Password Section Styles */
#password-section {
  text-align: center;
  padding: 50px;
}

.password-form {
  display: inline-block;
  margin-bottom: 20px;
}

.password-form h2 {
  margin-bottom: 10px;
}

.password-form input[type="password"] {
  padding: 10px;
  width: 200px;
}

.password-form button {
  padding: 10px 20px;
}

.password-error {
  color: red;
}
